@import url('https://fonts.googleapis.com/css?family=Cardo:400,700');

body {
  font-family: 'Cardo', sans;
  padding: 30px 5px;
  margin: 0;
}

.title {
    display: block;
    text-align: right;
    font-size: 10vw;
    line-height: 12vw;
}

iframe {
    width: 100%;
    height: 10vh;
    display: block;
    border: none;
}

.quote {
    font-weight: normal;
    font-style: italic;
    display: block;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
}
.quote::before {
    content: "„";
    font-size: 35px;
    line-height: 30px;
}
.quote::after {
    content: "”";
    font-size: 35px;
    line-height: 30px;
}
